body{

}

.login-frm{
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.login-frm form{
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    height: auto;
    margin: 0 auto;
    padding: 20px;
    width: 450px;
}

.login-frm .alert{
    margin: 10px auto;
    width: 450px;
}

.progress{
    background-color: #e7e7e7;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    height: 100px;
}

.products{
    max-width: 700px;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}

.products .table{
  margin-top: 20px;
}

.products .empty-msg{
    text-align: center;
    margin: 10px 0;
}
.navlink{
    color: #e7e7e7;
}
.about-home-2{
    position: relative;
    z-index: 1;
    padding: 80px 40px 80px 40px;
}
h3 {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
}
p{
       font-family: 'Baloo Tamma 2', cursive;
}
.site-button-link {
    display: inline-block;
    font-weight: 500;
    position: relative;
    color: #000;
    padding-left: 0;
    font-size: 14px;
    z-index: 1;
    text-transform: uppercase;
}
.section-full{
        padding: 80px 0px 80px;
}
.navbar-light .navbar-brand {
    color: white !important;
}
.navbar-light {
    color: white !important;
}
.our-story {
    position: relative;
    z-index: 0;
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px dashed #404040;
    padding-bottom: 25px;
    background-color: #1d1f26;
    padding: 20px;
}
.our-story-time .date {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}
.our-story-time .month {
    display: block;
}
.our-story-year {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #fff;
    margin-bottom: 0px;
    color: #d7b39a !important;
}
h4 {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
        line-height: 1.2;
    margin-bottom: 15px;
}
.our-story-detail{
    padding-left: 20px;
}

.sx-separator-outer.separator-center .sep-line-one{
    text-align: center
}
.sx-separator-outer.separator-center .sep-line-one{
    padding: 20px 60px 20px 60px;
    font-size: 42px;
    font-weight: 800;
}
.footer-bottom{
        padding: 20px;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0px 20px;
}
.about-home-2:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45%;
    height: 100%;
    background-color: transparent;
    border: 20px solid #dfdfdf;
    z-index: -1;
}
.site-button-link:before {
    content: '';
    left: 0px;
    bottom: 0px;
    height: 4px;
    background-color: #d7b39a;
    width: 80%;
    position: absolute;
    z-index: -1;
    -webkit-border-radius: 0px 50% 15px 0px;
    border-radius: 0px 50% 15px 0px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.navbar{
    padding: 1.5rem 1rem;
   background-color: #23252d;
    opacity: 0.5;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(248 249 250);
}
.navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    font-weight: bold;

}
label{
    font-family: 'Baloo Tamma 2', cursive;
}
form{
  background-color: #eef1f2;
  padding: 20px;
}
.form-control{
    background-color: transparent;
    border-radius: 0rem;
    border: 0px;
    border-bottom: 1px solid #000;
}
.form-control:focus{
    box-shadow: none;
    background-color: transparent;
}
.btn-primary{
    background-color: #343a40;
}
.btn{
    border-radius: 0rem;
    border: 0px;
    padding: 7px 20px;
    letter-spacing: 2px;
    margin: 0px auto;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgb(255 255 255);
}
.btn-primary:hover {
    color: #fff;
    background-color: #343a40;
    border-color: rgb(255 255 255);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
  background-color: #343a40;
    border-color: rgb(255 255 255);
}
.navbar-toggler{
    background-color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255 255 255);
}
.nav-link:hover{
    text-decoration: underline;
}
.navbar-brand{
    font-weight: 700;
    font-size: 30px;
}